#=========================================================================
# Git Ignore Files
#=========================================================================

build*/
autom4te.cache/
__pycache__/
.pytest_cache/
*.py[cod]
.DS_Store
.cache/
.nfs*

# vcs

csrc
simv-*
*.daidir
ucli.key
DVEfiles/
vcdplus.vpd

# vi swap file

*.swp

# LLVM files

*.bc
*.ll

# DFG figure

*.png
*.dot
